<div class="text center">
    <a class="" asp-area="Manager" asp-controller="Passenger" asp-action="GetTheMostTravellingPassengerWithDestinations">Passenger with most flights</a>
    <p></p>
    <p></p>
    <a class="" asp-area="Manager" asp-controller="Flight" asp-action="CheckRevenewByFlight">Search for flight revenue</a>
    <p></p>
    <p></p>
    <a class="" asp-area="Manager" asp-controller="Flight" asp-action="MostFlights">Top flights</a>
    <p></p>
    <p></p>

</div>

