@{
    ViewData["Title"] = "Add new data";
}

<div class="text-center">
    <h3>Seect what data to add
    </h3>
</div>

<div>
    <div class="table">
        <a class="text" asp-area="" asp-controller="Airplane" asp-action="AddPlane">Add new airplane</a>
        <p></p>
        <p></p>
        <a class="text" asp-area="" asp-controller="Company" asp-action="AddNewCompany">Add new manufacturer</a>
        <p></p>
        <a class="text" asp-area="" asp-controller="Airport" asp-action="AddNewAirport">Add new airport</a>
        <p></p>
        <a class="text" asp-area="" asp-controller="City" asp-action="AddNewCity">Add new city</a>
        <p></p>
        <a class="text" asp-area="" asp-controller="Country" asp-action="AddNewCountry">Add new country</a>
    </div>
 </div>
