@{
    ViewData["Title"] = "View Edit and edit data";
}

<div class="text-center">
    <h3>
        @ViewBag.title
    </h3>
</div>

<div>
    <div class="table">
        <a class="text" asp-area="" asp-controller="Airplane" asp-action="AllJets">All airplanes</a>
        <p></p>
        <p></p>
        <a class="text" asp-area="" asp-controller="Company" asp-action="AddNewCompany">Add new manufacturer</a>
        <p></p>
        <a class="text" asp-area="" asp-controller="Airport" asp-action="AddNewAirport">Add new airport</a>
        <p></p>
        <a class="text" asp-area="" asp-controller="City" asp-action="AddNewCity">Add new city</a>
        <p></p>
        <a class="text" asp-area="" asp-controller="Country" asp-action="AddNewCountry">Add new country</a>
    </div>
</div>