@{
    ViewData["Title"] = "View, Edit or delete data";
}

<div class="text-center">
    <h3>
        @ViewBag.title
    </h3>
</div>

<div>
    <div class="table">
        <a class="text" asp-area="" asp-controller="Airplane" asp-action="AllJets">All Airplanes</a>
        <p></p>
        <a class="text" asp-area="" asp-controller="Airport" asp-action="AllAirports">All Airports</a>
        <p></p>
        <a class="text" asp-area="" asp-controller="Company" asp-action="AllCompanies">All Manufacturers</a>
        <p></p>
        <a class="text" asp-area="" asp-controller="City" asp-action="AllCities">All Cities</a>
        <p></p>
        <a class="text" asp-area="" asp-controller="Country" asp-action="AllCountries">All Countries</a>
        <p></p>
        <a class="text" asp-area="" asp-controller="Flight" asp-action="AllFlights">All Flights</a>
    </div>
</div>