
@{
    ViewData["Title"] = "Home Page";
}
<div>
    <img class="d-block w-100" style="height:500px"
         src="https://images.moneycontrol.com/static-mcnews/2021/04/Aviation-featured-770x433.jpg?impolicy=website&width=770&height=431">
</div>
