@{
    ViewData["Title"] = "Filter flights";
}

<div class="text-center">
    <h3>Fligths</h3>
</div>


<div class="table">
    <th><a class="text" asp-area="" asp-controller="Flight" asp-action="FilterByDepartureAirport">By Airport</a></th>
    <p></p>
    <td><a class="text" asp-area="" asp-controller="Flight" asp-action="FilterByCountry">By Country</a></td>
    <p></p>
    <td><a class="text" asp-area="" asp-controller="Airplane" asp-action="FlightsPerAirplane">By Plane</a></td>
    
</div>



